.slogan{
   font-size: calc(35px + 2.5vw) !important;
   margin-bottom: 0;
}
.slogan-h2{
    font-size: 2rem;
    margin-top: 0;
}
.description{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.description p{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
